{% extends 'gestion_etudiant/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de l'Étudiant</title>
</head>
<body><br><br><br><br><br>
    <h1 class="mb-2 text-center">Détails de l'Étudiant</h1>
    <div class="card p-5">
        <p><strong>Nom :</strong> {{ etudiant.nom }}</p>
        <p><strong>Nom :</strong> {{ etudiant.prenom }}</p>
        <p><strong>Âge :</strong> {{ etudiant.age }}</p>
        <p><strong>Métier :</strong> {{ etudiant.metiers }}</p>
        <p><strong>Email :</strong> {{ etudiant.email }}</p>
        <p><strong>Inscription :</strong> {{ etudiant.est_inscrit }}</p>
        {% if etudiant.image %}
            <img src="{{ etudiant.image.url }}" class="img-fluid" alt="Photo de {{ etudiant.name }}">
        {% endif %}
        <a href="{% url 'list_etudiant' %}" class="btn btn-secondary mt-3">Retour</a>
    </div>
</body>
</html>
{% endblock %}