
{% extends 'gestion_etudiant/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des étudiants</title>
</head>
<body> <br> <br> <br> <br> 
    <h1 class="mb-4 text-center">Liste des Étudiants</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>PreNom</th>
                <th>Âge</th>
                <th>Métier</th>
                <th>Inscription</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.age }}</td>
                <td>{{ etudiant.metiers }}</td>
                <td>  
                {% if etudiant.est_inscrit == True %}
                OUI
                {% else %}
                NON
                {% endif %}
                </td>
                <td>{{ etudiant.email }}</td>
                <!-- <td>{{ etudiant.image }}</td> -->
                <td>
                    <a href="{% url 'modifier_etudiant' etudiant.id %}" class="btn btn-warning btn-sm">Modifier</a>
                    <a href="{% url 'detail_etudiant' etudiant.id %}" class="btn btn-warning btn-sm">Details</a>
                    <a href="{% url 'supprimer_etudiant' etudiant.id %}" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}